{% extends "base.html" %}

{% block content %}

    <h2>Result of {{ command }}</h2>

    {% if command=='top_ips' %}

    {% include "charts/top_pie.html" %}

    <table class="table table-sorter" id="{{ command }}" border="0">
        <thead>
            <tr><th>IP</th><th>Requests</th></tr>
        </thead>
        {% for ip in result %}
        <tr><td>{{ ip[0] }}</td><td>{{ ip[1] }}</td></tr>
        {% end %}
    </table>

    {% elif command=='http_methods' %}

    {% include "charts/pie.html" %}

    <table class="table table-sorter" id="{{ command }}" border="0">
        <thead>
            <tr><th>Method</th><th>Requests</th></tr>
        </thead>
        {% for method in result %}
        <tr><td>{{ method }}</td><td>{{ result[method] }}</td></tr>
        {% end %}
    </table>

    {% elif command=='request_path_counter' %}

    <table class="table table-sorter" id="{{ command }}" border="0">
        <thead>
            <tr><th>Path</th><th>Requests</th></tr>
        </thead>
        {% for data in result %}
        <tr><td>{{ data }}</td><td>{{ result[data] }}</td></tr>
        {% end %}
    </table>

    {% elif command=='ip_counter' %}

    <table class="table table-sorter" id="{{ command }}" border="0">
        <thead>
            <tr><th>IP</th><th>Requests</th></tr>
        </thead>
        {% for data in result %}
        <tr><td>{{ data }}</td><td>{{ result[data] }}</td></tr>
        {% end %}
    </table>

    {% elif command=='requests_per_minute' %}

    <div id="pie-chart-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <table class="table table-sorter" id="{{ command }}" border="0">
        <thead>
            <tr><th>Date</th><th>Requests</th></tr>
        </thead>
        {% for data in sorted(result, key=lambda x: x[0]) %}
        <tr><td>{{ data[0] }}</td><td>{{ data[1] }}</td></tr>
        {% end %}
    </table>

    <script> 
        var pieData = {
            chart: {
                zoomType: 'x',
                spacingRight: 20
            },
            title: {
                text: 'Requests per minutes'
            },
            subtitle: {
                text: document.ontouchstart === undefined ?
                'Click and drag in the plot area to zoom in' :
                'Pinch the chart to zoom in'
            },
            xAxis: {
                type: 'datetime',
                maxZoom: 60000, // fourteen days
                title: {
                    text: null
                }
            },
            yAxis: {
                title: {
                    text: 'Requests'
                }
            },
            tooltip: {
                shared: true
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                        stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    lineWidth: 1,
                    marker: {
                        enabled: false
                    },
                    shadow: false,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },

            series: [{
                type: 'area',
                name: 'requests',
                pointInterval: 60 * 1000,
                pointStart: Date.UTC({{ result[0][0].year }}, {{ result[0][0].month -1 }} , {{ result[0][0].day }}, {{ result[0][0].hour }}, {{ result[0][0].minute }}),
                data: [
                {% for data in sorted(result, key=lambda x: x[0]) %}
                {{ data[1] }},
                {% end %}
                ]
            }]
        }
    </script>

    {% elif command=='status_codes_counter' %}

    {% include "charts/pie.html" %}

    <table class="table table-sorter" id="{{ command }}" border="0">
        <thead>
            <tr><th>Status code</th><th>Requests</th></tr>
        </thead>
        {% for data in result %}
        <tr><td>{{ data }}</td><td>{{ result[data] }}</td></tr>
        {% end %}
    </table>

    {% elif command=='server_load' %}

    {% include "charts/pie.html" %}

    <table class="table table-sorter" id="{{ command }}" border="0">
        <thead>
            <tr><th>Name</th><th>Requests</th></tr>
        </thead>
        {% for data in result %}
        <tr><td>{{ data }}</td><td>{{ result[data] }}</td></tr>
        {% end %}
    </table>

    {% elif command=='top_request_paths' %}

    {% include "charts/top_pie.html" %}

    <table class="table table-sorter" id="{{ command }}" border="0">
        <thead>
            <tr><th>Path</th><th>Requests</th></tr>
        </thead>
        {% for data in result %}
        <tr><td>{{ data[0] }}</td><td>{{ data[1] }}</td></tr>
        {% end %}
    </table>

    {% else %}
        {{ result }}
    {% end %}

{% end %}
